/* src/index.css */

@font-face {
  font-family: "SB Sans Display";
  src: url("./assets/SBSans.woff2") format("woff2");
}
/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "SB Sans Display",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background: #f5f5f5;
  transition: background 0.3s ease;
}

/* Тёмный фон body — добавляем класс через useEffect */
body.dark {
  background: #000;
}

.weekend-row {
  background: #fafafa;
}
.weekend-row:hover > td {
  background: #f0f0f0 !important;
}
